@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

:root {
  --color-one: #f3603b;
  --color-two: #232c50;
  --color-three: #b3b2b7;
  --color-three: gray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--color-one);
}

.header {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  list-style: none;
  gap: 90px;
  position: relative;
}
.header__logo {
  position: absolute;
  left: 10%;
}

.header__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
  position: absolute;
}
.header__list__text {
  text-decoration: none;
  color: var(--color-two);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.header__list__text:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-two);
  opacity: 50%;
}
.header__list__button {
  width: 134px;
  height: 44px;
  border-radius: 20px;
  color: white;
  background-color: var(--color-one);
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: "Be Vietnam", sans-serif;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.header__list__button:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 50%;
}

.header__list__button::selection {
  background-color: var(--color-two);
}

.main__section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  position: relative;
}
.section1__left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 10%;
}

.section1__left__title {
  color: var(--color-two);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 60px;
  width: 500px;
}

.section1__left__sentence {
  color: var(--color-three);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 17px;
  width: 380px;
}

.section1__left__button {
  width: 134px;
  height: 44px;
  border-radius: 20px;
  color: white;
  background-color: var(--color-one);
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: "Be Vietnam", sans-serif;
}

.section1__left__button:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 50%;
}

.section1__left__button::selection {
  background-color: var(--color-two);
}

.class__section1__left__image img {
  width: 600px;
  position: absolute;
  right: 0%;
  top: 10%;
}

.main__section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: top;
  width: 100%;
  height: 500px;
  position: relative;
}

.class__section2__left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  gap: 30px;
  width: 500px;
  position: absolute;
  left: 13%;
}

.main__section2__left__subtitle {
  width: 500px;
  color: var(--color-two);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.main__section2__left__sentence {
  color: var(--color-three);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 17px;
  width: 350px;
}
.main__section2__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  gap: 10px;
  width: 550px;
  position: absolute;
  right: 6%;
}

.main__section2__list_item {
  width: 500px;
  color: var(--color-two);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 60px;
}

.main__section2__list_item p {
  width: 430px;
  color: var(--color-three);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  margin-left: 104px;
}

ol {
  counter-reset: item;
}
ol li {
  font-size: 16px;
  list-style: none;
}
ol li:before {
  content: "0" counter(item);
  counter-increment: item;
  background-color: var(--color-one);
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  height: 25px;
  margin-right: 20px;
}

.main_half {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 250px;
}

.main__halft__title {
  color: var(--color-two);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.main__people {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: bottom;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-bottom: 40px;
}

.main__people__opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-items: center;
  gap: 20px;
  background-color: #e1dfe7d3;
  height: 200px;
  width: 40%;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.main__people__opinion__image {
  width: 90px;
  position: absolute;
  top: -45px;
}

.main__people__opinion__subtitle {
  color: var(--color-two);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  font-size: 16px;
  position: absolute;
  top: 65px;
}

.main__people__opinion__sentence {
  width: 100%;
  color: var(--color-three);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: 105px;
}

.main__half__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: top;
  width: 100%;
  height: 200px;
}

.header__half__button {
  width: 134px;
  height: 44px;
  border-radius: 20px;
  color: white;
  background-color: var(--color-one);
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: "Be Vietnam", sans-serif;
}

.header__half__button:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 50%;
}

.header__half__button::selection {
  background-color: var(--color-two);
}

.footer__one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-items: center;
  background-color: var(--color-one);
  height: 150px;
  gap: 400px;
}
.footer_one__title {
  color: white;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  font-size: 40px;
  width: 500px;
}

.footer_one__title::selection {
  background: var(--color-two);
}

.section1__left__sentence {
  color: var(--color-three);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 17px;
  width: 380px;
}

.footer_one__button {
  width: 134px;
  height: 44px;
  border-radius: 20px;
  color: var(--color-one);
  background-color: white;
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: "Be Vietnam", sans-serif;
}
.footer_one__button:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 50%;
}

.footer_one__button::selection {
  background: var(--color-two);
}

.footer__two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  align-items: center;
  background-color: #1e1e26;
  height: 250px;
  gap: 10px;
}

.footer__two__social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-items: center;
  background-color: #1e1e26;
  height: 150px;
}

.logo {
  fill: white;
}

.logo:hover {
  fill: var(--color-one);
}

.footer__two__header__red {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-items: center;
  height: 100px;
  gap: 10px;
  list-style: none;
}

.footer__two__list1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  align-content: center;
  justify-content: start;
  width: 100px;
  height: 150px;
  gap: 20px;

  list-style: none;
}

.footer__two__list2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  align-content: center;
  justify-content: start;
  width: 100px;
  height: 150px;
  gap: 20px;
  list-style: none;
}

.footer__two__list__item {
  text-decoration: none;
  color: white;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.footer__two__header__red__logo:hover {
  color: var(--color-one);
}

.footer__two__list__item:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-one);
  opacity: 50%;
}

.footer__two__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
  align-content: center;
  justify-content: start;
  width: 350px;
  height: 150px;
  gap: 80px;
  list-style: none;
}

.footer__two__form__email {
  width: 200px;
  height: 44px;
  border-radius: 50px;
  margin-right: 10px;
}

.footer__two__form__button {
  width: 60px;
  height: 44px;
  border-radius: 20px;
  color: white;
  background-color: var(--color-one);
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: "Be Vietnam", sans-serif;
}

.footer__two__form__button:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 50%;
}

.footer__two__form__end {
  color: var(--color-three);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

@media (max-width: 450px) {
  .header__menu {
    position: absolute;
    right: 10%;
    top: 50px;
  }

  .header__list {
    display: none;
  }

  .header__list__button {
    display: none;
  }

  .header__list2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: start;
    list-style: none;
    display: none;
    position: absolute;
    right: 50%;
  }

  .menu {
    width: 30px;
    height: 30px;
  }
  .menu:hover {
    background: rgba(0, 0, 0, 0.25);
  }

  #btn-menu {
    display: none;
  }

  #btn-menu:checked ~ .header__list2 {
    display: inline-table;
  }
  main {
    border: 1px red solid;
  }
  .main__section1 {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  .class__section1__left__image img {
    width: 100%;
    position: absolute;
    top: 10%;
    border: 3px solid yellow;
  }
  .main {
    border: solid 2px blue;
  }
  .section1__left {
    top: 50%;
    width: 100%;
    height: 400px;
    align-items: center;
    align-content: center;
    left: 0%;
    right: 5px;
    border: solid 3px black;
  }
  .section1__left__title {
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  .section1__left__sentence {
    width: 100%;
    text-align: center;
  }
}
