@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

:root {
  --color-one: #f3603b;
  --color-two: #232c50;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 200px;
  background-color: white;
}
.header__ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  list-style: none;
  gap: 90px;
}

.header__list {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}
.header__text {
  text-decoration: none;
  color: black;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.header__text:hover {
  text-decoration: underline;
  cursor: pointer;
}
.header__button {
  width: 134px;
  height: 44px;
  border-radius: 20px;
  color: white;
  background-color: var(--color-one);
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.header__button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.class__article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__title {
  width: 600px;
  color: var(--color-two);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 60px;
}

.main__sentence {
  width: 360px;
  color: black;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.main__image {
  width: 400px;
}

.main__subtitle {
  width: 500px;
  color: var(--color-two);
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
}
.main__section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: top;
  gap: 20px;
}

.main__section2__list {
}

.main__section2__item {
  width: 500px;
  color: black;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 60px;
}

.main__Section2__sentence p {
  width: 440px;
  color: #b3b2b7;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
